# Created by .ignore support plugin (hsz.mobi)
# pdf 
*main.log
*main.aux
*main.nav
*main.toc
*main.out
*main.snm
*.log
# pycharm
.idea/

# jekyll
_site
.sass-cache
.jekyll-metadata

# Gemfiles
Gemfile*

*.DS_Store

