# Created by .ignore support plugin (hsz.mobi)
# pdf 
*main.log
*main.aux
*main.nav
*main.toc
*main.out
*main.snm
*main.vrb
*.fls
*.fdb_latexmk
*.log
# pycharm
.idea/

# jekyll
_site
.sass-cache
.jekyll-metadata
*.jekyll-cache/

*.DS_Store

# minted
*_minted-main/
*_minted-poster/
