 <!--<aside>-->
	<!--<div class="container">-->
		<!--<nav>-->
			<!--<ul>-->
				<!--<li><a href="{{ site.baseurl }}/">Talks</a></li>-->
				<!--<li><a href="{{ site.baseurl }}/lightning-talks/">Lightning - Talks</a></li>-->
			<!--</ul>-->
			<!--</li>-->
			<!--</ul>-->
		<!--</nav>-->
	<!--</div>-->
<!--</aside>-->
 <aside>
	<div class="container">
		<nav>
			<ul>
				<li><a href="https://nikoleta-v3.github.io/about-me">About me</a></li>
				<li><a href="https://nikoleta-v3.github.io/blog">Blog</a></li>
				<li><a href="{{ site.baseurl }}/">Talks</a></li>
					</a></li>
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>

<header>
	<h1><a href="https://nikoleta-v3.github.io/">{{ site.title }}</a></h1>
</header>
 